<div class="calendar-container">
    <button (click)="toggleAddEventForm()" *ngIf="!isResident()" class="new">&#43;</button>
    <div class="calendar-controls">
      <button (click)="navigate(-1)" class="backprev">Previous</button>
      <span>{{ currentMonth | date: 'MMMM yyyy' }}</span>
      <button (click)="navigate(1)" class="backprev">Next</button>
    </div>
    <div class="calendar-grid">
      <div class="day-header" *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">{{ day }}</div>
      <div class="day" *ngFor="let day of days" 
           [class.not-current]="!day.isCurrentMonth" 
           [class.today]="day.isToday">
        <div class="date">{{ day.dayOfMonth > 0 ? day.dayOfMonth : '' }}</div>
        <ul class="events" *ngIf="day.events && day.events.length">
          <li *ngFor="let event of day.events">
            {{ event.title }}
          </li>
        </ul>
      </div>
    </div>
</div>

<div class="add-event-form" *ngIf="showAddEventForm">
    <form class="dialog-content" (ngSubmit)="addEvent()">
        <div>
            <label for="eventTitle">Event Title:</label>
            <input type="text" id="eventTitle" [(ngModel)]="newEvent.title" name="title" required>
        </div>
        <div>
            <label for="eventDate">Event Date:</label>
            <input type="date" id="eventDate" [(ngModel)]="newEvent.date" name="date" required>
        </div>
        <div class="buttons">
          <button class="cancel" (click)="toggleAddEventForm()">cancel</button>
          <button type="submit" (click)="toggleAddEventForm()">Add Event</button>
        </div>
    </form>
</div>
