<body>
    <div class="about">
        <div class="header">
            <a [routerLink]="['/home']" class="info-project">
                <img src="./assets/logo.png" alt="project logo" class="project-logo"/>
                <h1>StepByStep</h1>
            </a>
        </div>

        <div>
            <p>Welcome to StepByStep, the innovative web platform developed in collaboration with La Fondation du Chainon (Le Chainon Foundation) to revolutionize the way we approach intervention plans for women in difficulty.</p>
            
            <p>At Le Chainon, we have been dedicated to our mission since our establishment in 1932: to unconditionally welcome women facing adversity, providing them with secure shelter and tailored support to foster their personal and social independence. Our approach emphasizes egalitarian relationships, professional assistance, and collective responsibility in denouncing inequality and violence against women.</p>
            
            <p>Our new web portal is designed to put residents at the center of their intervention plans, empowering them to actively participate in shaping their path to recovery. With StepByStep, caregivers have access to a comprehensive management system that allows for the creation, modification, and personalization of intervention plans. This includes setting goals, scheduling events, facilitating communication, and integrating resources tailored to each resident's needs.</p>
            
            <p>Caregivers can efficiently track progress, analyze statistics, and maintain effective communication with residents through the platform. Meanwhile, residents gain a user-friendly interface to view their plans, communicate with caregivers, and access relevant resources and support services.</p>
            
            <p>StepByStep isn't just a tool—it's a testament to our commitment to innovation and continuous improvement in our mission to support women in difficulty. Together with Le Chainon Foundation, we invite you to join us on this journey towards empowerment, autonomy, and social change.</p>
        </div>

        <div class="creators">
            <h4 class="team-name">The Capybaras</h4>
            <p>
                <span>Omar Benzekri</span>, 
                <span>Maria Bourouisa</span>, 
                <span>Ghali Chraibi</span>, 
                <span>Gaetan Florio</span>, 
                <span>Ayyanar Kadalkani</span>, 
                <span>Étienne Lazure</span>, 
                <span>Marc-Antoine Manningham</span>, 
                <span>Ihsane Majdoubi</span>, 
                <span>Nassour Nassour</span>, 
                <span>Philippe Tsoy</span>
            </p>
        </div>
    </div>
</body>
